{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="product d-flex">
            <div class="image">
                <img src="{{ product.image }}" alt="Изображение товара" style="width: 300px; height: auto;">
            </div>

            <div class="stats ms-4">
                <h1>{{ product.name }}</h1>
                <p>{{ product.category.name }}</p>
                <h4>Стоимость: {{ product.price }} с.</h4>
                {% if product.description %}
                    <p style="width: 50%;">{{ product.description }}</p>
                {% endif %}
                <p>Добавлено: {{ product.created_at|date:"d/m/Y h:m" }}</p>
            </div>
        </div>
    </div>
{% endblock %}