{#{% extends 'base.html' %}#}
{#{% block products %}#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    {% if category %}#}
{#        {% include 'partial/products_list.html' with title=category.name %}#}
{#    {% else %}#}
{#        {% include 'partial/products_list.html' with title='Продукты' %}#}
{#    {% endif %} #}
{#{% endblock %}#}

{% extends 'base.html' %}
{% block products %}
{% endblock %}

{% block content %}
    <form method="GET">
        {% include "partial/search_form.html" with form=search_form %}
    </form>

    <h3 class="mb-3">{{ title }}</h3>

    <div class="cards d-flex row row-cols-1 row-cols-md-2 row-cols-lg-4">
        {% for product in products %}
            <div class="col mb-4">
                {% if product.remain > 1 or product.remain == 1 %}
                    <div class="card mt-4 h-100" style="width: 18rem;">
                        <img src="{{ product.image }}" class="card-img-top" alt="...">
                        <div class="card-body d-flex flex-column h-100">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary"><a
                                    href="{% url 'category_products' product.category.slug %}">{{ product.category.name }}</a>
                            </h6>
                            <p class="card-text">Стоимость: {{ product.price }} с.</p>

                            <div class="links d-flex mt-auto justify-content-between">
                                <a href="{% url 'product_detail' product.pk %}">Подробнее</a>
                                <a href="{% url 'update_product' product.pk %}">Изменить</a>
                                <a href="{% url 'delete_product' product.pk %}">Удалить</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% empty %}
            <p>Продукты не найдены</p>
        {% endfor %}
    </div>
    {% if is_paginated %}
        {% include "partial/pagination.html" %}
    {% endif %}
{% endblock %}