{% extends 'base.html' %}
{% block content %}
    <div class="product d-flex">
        <div class="image">
            <img src="{{ product.image }}" alt="Изображение товара" style="width: 300px; height: auto;">
        </div>

        <div class="stats ms-4">
            <h1>{{ product.name }}</h1>
            <p><a href="{% url 'category_products' product.category.slug %}">{{ product.category.name }}</a></p>
            <h4>Стоимость: {{ product.price }} с.</h4>
            {% if product.description %}
                <p>{{ product.description }}</p>
            {% endif %}
            <p>Добавлено: {{ product.created_at|date:"d/m/Y h:m" }}</p>
            <p>Остаток: {{ product.remain }}</p>
            <a href="{% url 'add_product_in_cart' product.pk %}" class="btn btn-primary">Добавить в корзину</a>
            <a href="{% url 'update_product' product.pk %}" class="btn btn-success">Изменить</a>
            <a href="{% url 'delete_product' product.pk %}" class="btn btn-danger">Удалить</a>
        </div>
    </div>
{% endblock %}